{% extends "base.html" %}
{% block content %}

<br><hr>
<div class="container main-body">
	<hr>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron ">
			  <h1 id="hdr">ABOUT</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="text-doc">
			
		 In today's world, it is important that waste items are treated properly before they are dumped into landfills for decomposition. For efficient decomposition, proper segregation needs to take place. Current waste management practices involve sorting the waste materials in the central facility. If the sorting procedure takes place at the source of garbage production, then their efficiency will increase a lot. However, relying on human beings to segregate their waste items does not work well in the long run as human beings are lazy and become complacent with time. Therefore, an automatic solution is proposed that can perform the task of segregation with great accuracy, without human assistance.

Smart Garbage Monitoring And Segregation is a portable waste segregator system that identifies and separates waste materials into biodegradable and non-biodegradable categories. It uses Machine Learning to identify the type of waste. The entire system is operated using Raspberry Pi 3 developement board. Additional feature of remote monitoring is also implemented. The sys admin can monitor multiple devices and the type of waste processed by them in real-time, using a web application.
</div>
	

</div>


{% endblock %}










